<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Sign In • Lynbrook ASB</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <script src="https://kit.fontawesome.com/d80ce6916d.js" crossorigin="anonymous"></script>
  <script src="//unpkg.com/alpinejs" defer></script>

  <script>
    async function _submit() {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      const resp = await fetch("/api/users/me/events/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken
        },
        body: JSON.stringify({
          code: parseInt(this.code)
        }),
        credentials: "same-origin"
      });

      if (resp.ok) {
        this.event = await resp.json();
      } else if (resp.status === 404) {
        this.error = "No event corresponding with this code was found."
      } else if (resp.status === 409) {
        this.error = "You have already claimed points for this event."
      } else {
        this.error = "An unknown error occurred."
      }

      this.success = resp.ok;
    }

    async function submit() {
      this.loading = true;
      try {
        _submit.bind(this)()
      } catch (e) {}
      this.loading = false;
    }
  </script>
</head>

<body>
  <main class="section">
    <div class="container" style="max-width: 500px;">
      <h1 class="title is-3 has-text-centered">Lynbrook ASB/Clubs Sign In</h1>

      {% if user.is_authenticated %}

      <div x-data="{ code: '', loading: false, success: null, error: 'An unknown error occurred.' }">
        <template x-if="loading">
          <div class="has-text-centered">
            <i class="fas fa-circle-notch fa-spin fa-3x"></i>
          </div>
        </template>

        <template x-if="!loading">
          <div>
            <template x-if="success === null">
              <form @submit.prevent="submit">
                <div class="field">
                  <label class="label">User</label>
                  <div class="control has-icons-left">
                    <input class="input" type="text" value="{{ user }}" readonly>
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>

                <div class="field">
                  <label class="label">Code</label>
                  <div class="control">
                    <input class="input" type="number" min="100000" max="999999" placeholder="Enter Code" x-model="code"
                      required>
                  </div>
                </div>

                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link">Sign In</button>
                  </div>
                  <div class="control">
                    <a href="{% url 'admin:logout' %}?next=/" class="button is-danger is-light">Switch Account</a>
                  </div>
                </div>

                {% csrf_token %}
              </form>
            </template>

            <template x-if="success === true">
              <div class="has-text-centered">
                <i class="fas fa-check-circle fa-3x mb-4 has-text-success"></i>
                <h3 x-text="`Signed Into ${event.name}`" class="title is-5 mb-2"></h3>
                <p x-text="`You claimed ${event.points} ${event.organization.name} points.`" class="content"></p>
              </div>
            </template>
            <template x-if="success === false">
              <div class="has-text-centered">
                <i class="fas fa-times-circle fa-3x mb-2 has-text-danger"></i>
                <p x-text="error" class="content"></p>
              </div>
            </template>
        </template>
      </div>
    </div>

    {% else %}
    <p class="content">
      Welcome to the club sign in page! Please sign with your FUHSD Google
      Account to continue.
    </p>
    <div class="has-text-centered">
      <a href="{% url 'social:begin' 'google' %}?next=/" class="button is-link">Sign in With Google</a>
    </div>
    {% endif %}

    <hr />

    <p class="mb-2 has-text-grey is-size-7 has-text-centered">
      <a href="https://linktr.ee/lynbrookapp">Download the Lynbrook App</a>
      on your mobile device for an easy, one-tap sign in process.
    </p>

    <p class="mb-2 has-text-grey is-size-7 has-text-centered">
      Copyright &copy; 2021 Lynbrook ASB • <a href="https://lynbrookasb.com/">Lynbrook ASB Website</a> • <a
        href="https://lynbrookasb.org/admin/">Admin
        Panel</a>
    </p>

    </div>
  </main>
</body>

</html>