<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>

    <title>Homecoming</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet" />
    <link href="fonts/font.css" rel="stylesheet" />
  </head>

  <!-- <body class="text-center flex-column"> -->
  <body>
    <div class="header">
      <header class="masthead mb-auto">
        <div class="inner">
          <h1 class="masthead-brand p-5">Lynbrook ASB</h1>
          <nav class="nav nav-masthead justify-content-center p-5">
            <h3><a class="nav-link" href="#">Home</a></h3>
            <h3><a class="nav-link" href="#performances">Performances</a></h3>
            <h3><a class="nav-link" href="#rally">Hoco Rally</a></h3>
            <h3><a class="nav-link" href="#fest">Hoco Fest</a></h3>
            <h3><a class="nav-link" href="#game">Hoco Game</a></h3>
          </nav>
        </div>
      </header>
    </div>

    <div
      class="parallax-container"
      data-parallax="scroll"
      data-position="top"
      data-bleed="0"
      data-image-src="assets/hoco.jpeg"
    ></div>
    <!-- <div class="header d-flex h-100 p-3 mx-auto flex-column" data-parallax="scroll" data-image-src="hoco.jpeg"> -->
    <div class="d-flex flex-row" id="performances">
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/25hocoheader.jpg"
        style="height: auto"
      >
        <div class="container d-flex flex-column justify-content-center">
          <h1 class="text-center section-header" style="color: black">
            Class of 2025
          </h1>
          <h2 class="text-center" style="color: black">Pok&#233;mon</h2>
          <h3 class="text-center" style="color: black">
            <i>Wear Baby Blue and journey into the Pok&#233;mon Universe</i>
          </h3>
          <div class="d-flex justify-content-center m-4">
            <div class="pokeball">
              <div class="pokeball__button"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/25hoco.jpg"
        style="height: auto"
      ></div>
    </div>

    <div class="d-flex flex-row">
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/24hoco.jpg"
        style="height: auto"
      ></div>
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/24hocoheader.jpg"
        style="height: auto"
      >
        <div class="container">
          <h1 class="text-center section-header" style="color: black">
            Class of 2024
          </h1>
          <h2 class="text-center" style="color: black">Classic Arcade</h2>
          <h3 class="text-center" style="color: black">
            <i>Wear White and dive into the Classic Arcade Universe</i>
          </h3>
          <div class="d-flex justify-content-center m-4">
            <div class="machine shake-slow">
              <div class="shine"></div>
              <div class="top">
                <div class="screwTop"></div>
                <div class="panels">
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                </div>
              </div>
              <div class="screen"></div>
              <div class="table color">
                <div class="button"></div>
                <div class="stick"></div>
              </div>
              <div class="bottom color">
                <div class="line"></div>
                <div class="line"></div>
                <div class="screw"></div>
                <div class="panels">
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                  <div class="panel"></div>
                </div>
                <div class="screwRight"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="header d-flex h-100 p-3 mx-auto flex-column" data-parallax="scroll" data-image-src="hoco.jpeg"> -->

    <div class="d-flex flex-row">
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/23hocoheader.jpg"
        style="height: auto"
      >
        <div class="container">
          <h1 class="text-center section-header">Class of 2023</h1>
          <h2 class="text-center">Disney Animated</h2>
          <h3 class="text-center">
            <i>Wear Navy Blue and explore the universe of Disney Animated</i>
          </h3>
          <div class="d-flex justify-content-center m-4">
            <!-- Hover over the archway -->
            <div
              style="
                position: relative;
                width: 90%;
                height: 21vw;
                margin-top: 60px;
              "
            >
              <svg class="arc">
                <circle></circle>
              </svg>
              <div class="portcullis"></div>
              <div class="castle base-1"></div>
              <div class="castle base-2"></div>
              <div class="castle base-3"></div>
              <div class="castle base-4"></div>
              <div class="base-tower left"></div>
              <div class="base-tower right"></div>
              <div class="castle mid-tower-left"></div>
              <div class="mid-tower-left-roof"></div>
              <div class="mid-tower-right"></div>
              <div class="level-2-tower-left"></div>
              <div class="castle level-3-tower"></div>
              <div class="level-3-tower-roof"></div>
              <div class="castle keep-main"></div>
              <div class="keep side-tower"></div>
              <div class="keep side-tower roof"></div>
              <div class="castle keep"></div>
              <div class="castle main-tower"></div>
              <div class="main-tower-roof"></div>
              <div class="main-side-roof"></div>
              <div class="keep tower-roof"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="header d-flex h-100 p-3 mx-auto flex-column" data-parallax="scroll" data-image-src="hoco.jpeg"> -->
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/23hoco.jpg"
        style="height: auto"
      ></div>
    </div>

    <div class="d-flex flex-row">
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/25hoco.jpg"
        style="height: auto"
      ></div>
      <div
        class="parallax-container"
        data-parallax="scroll"
        data-position="top"
        data-bleed="0"
        data-image-src="assets/22hocoheader.jpg"
      >
        <div class="container">
          <h1 class="text-center section-header">Class of 2022</h1>
          <h2 class="text-center">???</h2>
          <h3 class="text-center">
            <i>Wear Red and jump into the ??? universe?</i>
          </h3>
          <div class="d-flex justify-content-center m-4">
            <div class="pokeball">
              <div class="pokeball__button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column m-4" id="rally" style="color: black">
      <div class="container">
        <h1 class="text-center section-header">Homecoming Rally</h1>
        <h2 class="text-center">
          Watch the universes collide at our annual Homecoming Rally!
        </h2>
      </div>
      <div class="d-flex flex-row" style="margin-bottom: 10vw; margin-left: 10vw; margin-right: 10vw">
        <div class="wrapper freshmanwrapper">
          <div class="s s0">
            <div class="s s1">
              <div class="s s2">
                <div class="s s3">
                  <div class="s s4">
                    <div class="s s5">
                      <div class="s s6">
                        <div class="s s7">
                          <div class="s s8">
                            <div class="s s9">
                              <div class="s s10">
                                <div class="s s11">
                                  <div class="s s12">
                                    <div class="s s13">
                                      <div class="s s14">
                                        <div class="s s15">
                                          <div class="s s16">
                                            <div class="s s17">
                                              <div class="s s18">
                                                <div class="s s19">
                                                  <div class="s s20">
                                                    <div class="s s21">
                                                      <div class="s s22">
                                                        <div class="s s23">
                                                          <div
                                                            class="s s24"
                                                          ></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper sophomorewrapper">
          <div class="s s0">
            <div class="s s1">
              <div class="s s2">
                <div class="s s3">
                  <div class="s s4">
                    <div class="s s5">
                      <div class="s s6">
                        <div class="s s7">
                          <div class="s s8">
                            <div class="s s9">
                              <div class="s s10">
                                <div class="s s11">
                                  <div class="s s12">
                                    <div class="s s13">
                                      <div class="s s14">
                                        <div class="s s15">
                                          <div class="s s16">
                                            <div class="s s17">
                                              <div class="s s18">
                                                <div class="s s19">
                                                  <div class="s s20">
                                                    <div class="s s21">
                                                      <div class="s s22">
                                                        <div class="s s23">
                                                          <div
                                                            class="s s24"
                                                          ></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper juniorwrapper">
          <div class="s s0">
            <div class="s s1">
              <div class="s s2">
                <div class="s s3">
                  <div class="s s4">
                    <div class="s s5">
                      <div class="s s6">
                        <div class="s s7">
                          <div class="s s8">
                            <div class="s s9">
                              <div class="s s10">
                                <div class="s s11">
                                  <div class="s s12">
                                    <div class="s s13">
                                      <div class="s s14">
                                        <div class="s s15">
                                          <div class="s s16">
                                            <div class="s s17">
                                              <div class="s s18">
                                                <div class="s s19">
                                                  <div class="s s20">
                                                    <div class="s s21">
                                                      <div class="s s22">
                                                        <div class="s s23">
                                                          <div
                                                            class="s s24"
                                                          ></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper seniorwrapper">
          <div class="s s0">
            <div class="s s1">
              <div class="s s2">
                <div class="s s3">
                  <div class="s s4">
                    <div class="s s5">
                      <div class="s s6">
                        <div class="s s7">
                          <div class="s s8">
                            <div class="s s9">
                              <div class="s s10">
                                <div class="s s11">
                                  <div class="s s12">
                                    <div class="s s13">
                                      <div class="s s14">
                                        <div class="s s15">
                                          <div class="s s16">
                                            <div class="s s17">
                                              <div class="s s18">
                                                <div class="s s19">
                                                  <div class="s s20">
                                                    <div class="s s21">
                                                      <div class="s s22">
                                                        <div class="s s23">
                                                          <div
                                                            class="s s24"
                                                          ></div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column" id="fest" style="margin-top: 5vw; background-color: #103a52;">
      <div class="container">
        <h1 class="text-center section-header">Homecoming Fest</h1>
        <h2 class="text-center">
          Bring your friends to this social event and get hyped up for the game.
        </h2>
        <div class="d-flex flex-column">
          <img src="assets/hocofest1.jpeg" style="width: 100%" />
          <img src="assets/hocofest2.jpeg" style="width: 100%" />
        </div>
      </div>
    </div>

    <div class="d-flex flex-column m-4" id="art" style="color: black">
      <div class="container">
        <h1 class="text-center section-header">Homecoming Art Exhibit</h1>
        <h2 class="text-center">
          Get another chance to check out decs from each class!
        </h2>
      </div>
    </div>

    <div class="mt-4" id="game" style="color: white; padding: 0">
      <div
        class="bg-image"
        style="
          background-image: url(assets/football.jpeg);
          background-size: cover;
          width: 100%;
          height: 50vw;
          padding: 5vw;
          margin: 0;
        "
      >
        <div class="d-flex flex-column justify-content-start">
          <h1 class="text-center section-header">Homecoming Game</h1>
          <h2 class="text-center">
            Cheer on our football team as they crush the Matadors!
          </h2>
        </div>
      </div>
    </div>

    <div class="footer d-flex mx-auto flex-column">
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>
            Developed by <a href="https://lynbrookasb.com/">Lynbrook ASB</a>
          </p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/parallax.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
